<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Welcome to Let's troll the streamer</h1>
    <form action="/create_room" method="POST">
        <input type="text" name="room_name" placeholder="Room Name" required>
        <button type="submit">Create Room</button>
    </form>
    <br>
    <form action="/join_room" method="POST">
        <input type="text" name="room_code" placeholder="Enter Room Code" required>
        <button type="submit">Join Room</button>
    </form>
</body>
</html>
